<h1>Hello, {{ organizerName }}</h1>
<p>We would like to inform you that there is a new attendee in your Meetup.</p>
<p>Please, check the information below.</p>
<p>
  <h2>Meetup Info</h2>
  <hr />
  <strong>Meetup Title: </strong> {{ meetupTitle }} <br />
  <strong>Meetup Date: </strong> {{ meetupDate}} <br />
  <strong>New Attendee's Name:</strong> {{attendeeName}} <br />
  <strong>New Attendee's Email:</strong> {{attendeeEmail}} <br />
  <strong>Updated Number of Attendees:</strong> {{attendeesTotal}} <br />
  <hr />
</p>
